.paginated-product-list {
    text-align: center;
    padding: 20px;
  }
  
  .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .product {
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    width: 200px;
    text-align: left;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .product img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .product h2 {
    font-size: 1.5em;
    margin: 10px 0;
  }
  
  .product p {
    font-size: 1.1em;
    margin: 10px 0;
  }
  
  .product button {
    background-color: #ff6f61;
    color: white;
    padding: 10px;
    border: none;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .product button:hover {
    background-color: #e55b4f;
  }
  
  .pagination {
    margin-top: 20px;
  }
  
  .pagination button {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .pagination button.active {
    background-color: #ff6f61;
    color: white;
  }
  
  .pagination button:hover {
    background-color: #f1f1f1;
  }
  